.homepage {
    font-family: Montserrat;
}

.intro {
    color: white;
    background-color: black;
    height: 90vh;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.intro__info {
    text-align: center;
    width: 500px;
}

.intro img {
    max-width: 55%;
    width: auto;
    height: auto;
    margin: 40px;
    display: block;
    float: right;
}

.intro h1 {
    color: #3f8efc;
    max-width: 900px;
    width: auto;
    font-size: 50px;
    margin-bottom: 20px;
}

.intro__button {
    color: #3f8efc;
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 5px 20px;
}

.intro__button:hover {
    background-color: #3f8efc;
    color: black;
}

.exploreBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background-color: #999da2;
    min-height: 94vh;
    height: auto;
    padding: 15px 0px;
}

.exploreBox__card {
    max-width: 425px;
    max-height: 425px;
    width: 55vw;
    height: 55vw;
    background-color: #aaaaaa;
    font-size: 40px;
    border-radius: 20px;
    margin: 10px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.exploreBox__card__exercise {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('exercise_card_left.png');
    background-size: 140% 100%;
    height: inherit;
    width: inherit;
    max-width: inherit;
    max-height: inherit;
    background-position: center;
    border-radius: inherit;
    transition: all 200ms ease-in;
}

.exploreBox__card__exercise:hover {
    background-size: 150% 107%;
}

.exploreBox__card__workout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('exercise_card_right.png');
    background-size: 130% 100%;
    height: inherit;
    width: inherit;
    max-width: inherit;
    max-height: inherit;
    background-position: center;
    border-radius: inherit;
    transition: all 200ms ease-in;
}

.exploreBox__card__workout:hover {
    background-size: 140% 107%;
}

.exploreCardText {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 39% 0;
    border-radius: inherit;
}

.exploreCardText:hover {
    color: #3f8efc;
}

#learnMore {
    height: 90vh;
    background: #E5ECF4;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.showcase img {
    padding: 20px;
    width: 700px;
    border: 1px solid #3f8efc;
}

@media screen and (max-width: 974px) {
    .intro {
        height: 100%;
    }

    .intro h1 {
        font-size: 5vw;
    }

    .intro p {
        font-size: 2.6vw;
    }

    .intro__button {
        font-size: 2vw;
        padding: 7px;
        border-radius: 8px;
    }

    .exploreBox__card{
        font-size: 5vw;
    }
}