.navbar {
    background-color: #3f8efc;
    font-family: Archivo, sans-serif;
    font-size: 14pt;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 65px;
    /* overflow: auto; */
}

.navbar button {
    float: right;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 40px;
    padding-right: 50px;
    padding-top: 15px;
    color: white;
}

.navbar-logo {
    position: relative;
    max-width: 350px;
    width: auto;
    padding: 5px 0px 5px 50px;
    /* border: 1px solid red; */
}

.navbar-menu {
    position: absolute;
    background-color: #3f8efc;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
    margin-top: -6px;
    overflow: hidden;
    transition: height 500ms ease-in-out;
}

.navbar-menu__items {
    text-align: center;
    color: white;
    text-decoration: underline transparent;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    font-weight: bold;
    transition: text-decoration 300ms ease-in-out;
    padding-top: 20px;
}
  
.navbar-menu__items:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.navbar-pages {
    position: absolute;
    background-color: #3f8efc;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0px;
    margin-top: -6px;
    overflow: hidden;
    transition: height 500ms ease-in-out;
}

.navbar-pages__items {
    text-align: center;
    color: white;
    text-decoration: underline transparent;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    font-weight: bold;
    padding-top: 20px;
}

@media screen and (min-width: 975px) {
    .navbar button {
        display: none;
    }

    .navbar-menu {
        display: block;
        text-align: end;
        padding-top: 25px;
        margin-top: -70px;
        background: transparent;
    }

    .navbar-menu__items {
        margin-right: 50px;
    }

    .navbar-pages {
        position: relative;
        display: block;
        text-align: center;
        float: right;
        padding: 30px 50px 5px 0px;
        height: auto;
        width: auto;
    }

    .navbar-pages__items {
        margin-left: 50px;
        transition: text-decoration 300ms ease-in-out;
    }
      
    .navbar-pages__items:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
    }
}