.form {
    font-family: Montserrat;
    width: 600px;
    margin: 30px auto;
    padding: 15px 50px;
    background-color: #c9d8e8;
    border-radius: 25px;
}

.form-input {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.form-input__box {
    margin: 10px 0px;
}

.add-btn-form {
    color: white;
    background-color: #3f8efc;
    border: none;
    border-radius: 9px;
    padding: 8px;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
}

.add-btn-form:hover {
    background-color: #0464eb;
}