.log {
    font-family: Montserrat;
    border-radius: 30px;
    padding: 50px 60px 20px 60px;
}

.log__workout {
    width: 80vw;
    margin: auto;
}

.log__exercise {
    width: 80vw;
    margin: auto
}

.log__header {
    display: flex;
    justify-content: space-between;
}

.log h3 {
    width: 600px;
    padding-left: 2px;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 20px 0px;
    width: 100%;
    margin-bottom: 25px;
}

tr {
    border-bottom: 1px solid #bbbbbb;
}

td {
    padding: 7px 0px;
}

th {
    text-align: left;
    padding-bottom: 12px;
    color: black;
    font-size: 18px;
}

.date {
    font-weight: bold;
}

.edit-box {
    margin-top: 100px;
}

.link {
    text-decoration: none;
    color: #3f8efc;
    font-size: 16px;
}

.link:hover {
    color: #0464eb
}

.actions {
    text-align: right;
}

.actions-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.actions-btn:hover {
    color: #3f8efc;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.add-btn {
    color: white;
    background-color: #3f8efc;
    border: none;
    border-radius: 9px;
    padding: 8px;
    font-size: 14px;
    text-decoration: none;
    height: 100%;
    text-align: center;
}

.add-btn:hover {
    background-color: #0464eb;
}

p {
    padding-bottom: 10px;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase img {
    width: 700px;
    border: 1px solid #bbbbbb;
}

@media screen and (max-width: 420px) {
    .log__workout {
        width: 300px;
        margin: auto;
    }
    
    .log__exercise {
        width: 300px;
        margin: auto
    }

    .log h3 {
        width: 200px;
        padding-left: 2px;
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .add-btn {
        border-radius: 9px;
        padding: 7px;
        font-size: 10px;
        text-decoration: none;
        height: 100%;
        width: 120px;
    }
    
    td, th {
        font-size: 11px;
    }

    .link {
        font-size: 12px;
    }

    .actions-btn {
        font-size: 8px;
    }

    .actions {
        text-align: right;
        width: 65px;
    }
}