.log {
    width: 754px;
    margin: auto;
    font-family: Tahoma;
    background-color: #E5ECF4;
    border-radius: 30px;
    padding-left: 60px;
    padding-bottom: 20px;
}

.log h3 {
    width: 800px;
    padding-left: 2px;
    font-size: 40px;
    margin-top: 90px;
    margin-bottom: 20px;
    padding-top: 15px;
}

th {
    padding-right: 60px;
}

.edit-box {
    margin-top: 100px;
}

.edit-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.delete-link {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.delete-link:hover {
    cursor: pointer;
}