.log {
    font-family: Tahoma;
    border-radius: 30px;
    padding: 50px 60px 20px 60px;
}

.log__workout {
    width: 800px;
    margin: auto;
}

.log__exercise {
    width: 900px;
    margin: auto
}

.log h3 {
    width: 900px;
    padding-left: 2px;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 20px 0px;
    width: 100%;
    margin-bottom: 25px;
}

tr {
    border-bottom: 1px solid #bbbbbb;
}

td {
    padding: 7px 0px;
}

th {
    text-align: left;
    padding-bottom: 12px;
    color: black;
}

.edit-box {
    margin-top: 100px;
}

.link {
    text-decoration: none;
    color: #3f8efc;
    font-size: 16px;
}

.link:hover {
    color: #0464eb
}

.actions {
    text-align: right;
}

.actions-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.actions-btn:hover {
    color: #3f8efc;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.add-btn {
    color: white;
    background-color: #bbbbbb;
    border: none;
    border-radius: 9px;
    padding: 8px;
    font-size: 14px;
    text-decoration: none;
}

.add-btn:hover {
    background-color: #0464eb;
}

p {
    padding-bottom: 10px;
}