.sign {
    margin-top: 100px;
}

.login-form {
    font-family: Montserrat;
    width: 450px;
    margin: 30px auto;
    padding: 15px 50px;
    background-color: #c9d8e8;
    border-radius: 25px;
}

.sign-up {
    text-align: center;
}

.input {
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
}

.input__box {
    margin: 10px 0px;
}

.submit-btn {
    color: white;
    background-color: #3f8efc;
    border: none;
    border-radius: 9px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.sign-up p {
    margin-bottom: 0px;
}

.sign-up-btn {
    color: #0464eb;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.submit-btn:hover {
    background-color: #0464eb;
}

.account {
    margin-top: 100px;
    text-align: center;
    font-family: Montserrat;
}

.account-info {
    margin: auto;
    width: 500px;
    border: 1px solid #bbbbbb;
}

td, th {
    padding: 8px;
}