.homepage {
    font-family: Archivo, sans-serif;
}

.intro {
    padding: 100px 103px;
    color: white;
    background-image: url('homepage_background.jpg');
    background-color: black;
    background-size: 50%;
    background-position: 95% 20%;
    background-repeat: no-repeat;
}

.intro h1 {
    color: #3f8efc;
    width: 500px;
    font-size: 50px;
    margin-bottom: 5px;
}

.intro p {
    margin-top: 5px;
    padding-bottom: 15px;
    font-size: 20px;
}

.intro__button {
    color: #3f8efc;
    text-decoration: none;
    margin-left: 60px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.intro__button:hover {
    color: #3f8efc;
}

.exploreBox {
    display: flex;
    justify-content: center;
    background-color: #87bfff;
    padding: 70px;
}

.exploreBox_card {
    width: 350px;
    height: 350px;
    background-color: #aaaaaa;
    font-size: 45px;
    border-radius: 20px;
    margin: 10px 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exploreBox_card_exercise {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('exercise_card.png');
    background-size: 530px 354px;
    height: 350px;
    width: 350px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: inherit;
}

.exploreBox_card_workout {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('workout_card.png');
    background-size: 508px 382px;
    height: 350px;
    width: 350px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: inherit;
}

.exploreCardText {
    text-align: center;
    text-decoration: none;
    width: 250px;
    color: white;
    padding-bottom: 10px;
    transition: text-shadow 500ms ease-in-out;
}

.exploreCardText:hover {
    text-shadow: 2px 2px 2px #3f8efc;
}