.homepage {
    font-family: Archivo, sans-serif;
}

.intro {
    color: white;
    background-color: black;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.intro__info {
    text-align: center;
}

.intro img {
    max-width: 55%;
    width: auto;
    height: auto;
    border: 1px solid red;
    margin: 40px;
}

.intro h1 {
    color: #3f8efc;
    max-width: 900px;
    width: auto;
    font-size: 50px;
    margin-bottom: 5px;
}

.intro p {
    margin-top: 5px;
    padding-bottom: 15px;
    font-size: 25px;
}

.intro__button {
    color: #3f8efc;
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 0px 20px;
}

.intro__button:hover {
    color: #3f8efc;
}

.exploreBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background-color: #999da2;
    min-height: 94vh;
    height: auto;
    padding: 15px 0px;
}

.exploreBox__card {
    max-width: 425px;
    max-height: 425px;
    width: 55vw;
    height: 55vw;
    background-color: #aaaaaa;
    font-size: 40px;
    border-radius: 20px;
    margin: 10px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.exploreBox__card__exercise {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('exercise_card.png');
    background-size: 140% 100%;
    height: inherit;
    width: inherit;
    max-width: inherit;
    max-height: inherit;
    background-position: center;
    border-radius: inherit;
}

.exploreBox__card__workout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('workout_card.png');
    background-size: 130% 100%;
    height: inherit;
    width: inherit;
    max-width: inherit;
    max-height: inherit;
    background-position: center;
    border-radius: inherit;
}

.exploreCardText {
    text-align: center;
    text-decoration: none;
    width: 250px;
    color: white;
    padding-bottom: 10px;
}

#learnMore {
    background-color: #E5ECF4;
    height: 85vh;
    padding: 30px 10vw;
}

@media screen and (max-width: 974px) {
    .intro h1 {
        font-size: 5vw;
    }

    .intro p {
        font-size: 2.6vw;
    }

    .intro__button {
        font-size: 2.2vw;
    }

    .exploreBox__card{
        font-size: 5vw;
    }
}