.navbar {
    background-color: white;
    font-family: Verdana, sans-serif;
    font-size: 14pt;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 30px 10px 30px;
    border-bottom: 1px solid #d3d3d3;
    top: 0;
    width: 96%;
    z-index: 100;
}

.navbar__options {
    color: #3f8efc;
    text-decoration: underline transparent;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    font-weight: bold;
    transform: scale(1, 1.1);
    transition: text-decoration 300ms ease-in-out;
}
  
.navbar__options:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}