.navbar {
    background-color: #3f8efc;
    font-family: Archivo, sans-serif;
    font-size: 14pt;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-logo {
    padding: 5px 0px 5px 50px;
    width: 25%;
}

.navbar-options {
    display: block;
    text-align: center;
    float: right;
    padding: 25px 50px 5px 0px;
}

.navbar-options__elements {
    padding-left: 50px;
    text-align: center;
    color: white;
    text-decoration: underline transparent;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    font-weight: bold;
    transition: text-decoration 300ms ease-in-out;
}
  
.navbar-options__elements:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}